<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<style>
table.table>tbody .hiddenRow {
  padding: 0 8px;
}
p, h1, h2, h3, h4, h5, div, table, body{
	color: #26265e
}
body {
	background-color: #fefefe
}
</style>
<!--
<style>
body {
  background-color: #fefefe;
  color: #16161e;
}
table.table-sm > thead > tr > th{
    border-bottom:2px solid #4d70f9;
}
table.table-sm > tbody > tr > td{
    border-top:1px solid #4d70f9;
    border-bottom:1px solid #4d70f9;
}-->
</style>
</head>
  <body>
    <div class="container">
    <div class="row">
      <br/>
    </div>
    <div class="row jumbotron">
      <h1>Test suite running Flask</h1>
    </div>
    <div class="row">
      <p>
        Bucket: {{ data.bucket }} <br/>
        Session: {{ data.offset }}
      </p>
    </div>
    <div class="row">
    <table class="table table-condensed" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th>#</th>
                <th>Tool</th>
                <th>Invocation</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for task in data.tasks %}
          <tr data-toggle="collapse" data-target="#demo{{loop.index}}" class="accordion-toggle">
              <td>{{ task.fname.split('-')[1].split('.')[0] }}</td>
              <td>{{ task.toolname }}</td>
              <td>{{ task.invocname }}</td>
              <td>{{ task.date }}</td>
          </tr>
          <tr style="background-color:#ddd">
              <td colspan="4" class="hiddenRow"><div class="accordian-body collapse" id="demo{{loop.index}}">
                  <table class="table table-condensed table-sm small" style="width:30%; float:left; margin-right:2%; background-color:#ddd">
                      <thead>
                          <th>Task Info</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                <a href="{{ task.url }}">Task</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.toolurl }}">Descriptor</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.invocurl }}">Invocation</a><br>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <table class="table table-condensed table-sm small" style="width:30%; float:left; margin-right:2%; background-color:#ddd">
                      <thead>
                          <th>Task Info</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                <a href="{{ task.url }}">Task</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.toolurl }}">Descriptor</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.invocurl }}">Invocation</a><br>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <table class="table table-condensed table-sm small" style="width:30%; float:left; margin-right:2%; background-color:#ddd">
                      <thead>
                          <th>Task Info</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                <a href="{{ task.url }}">Task</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.toolurl }}">Descriptor</a><br>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                <a href="{{ task.invocurl }}">Invocation</a><br>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div></div>
  </body>
</html>
